*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f3ff58;
}
.img-container{
    width: 60%;
    height: 80vh;
    background : url("images/1.jpg") center/cover fixed no-repeat;
    border: 0.5rem solid #fff700;
    border-radius: 0.5rem;
    position: relative;
    margin: 4rem auto;
    box-shadow: 10px 10px 35px rgba(0,0,0,0.6);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.btn-left{
    position: absolute;
    top:50%;
    left:0;
    background-color: #3b117e;
    color: #fff;
    transform: translate(-50%,-50%);
    border: 0.2rem solid #3cbff8;
    font-size: 1.5rem;
    padding: 15px;
}
.btn-right{
    position: absolute;
    top:50%;
    right:0;
    background-color: #3b117e;
    color: #fff;
    transform: translate(50%,-50%);
    border: 0.2rem solid #3cbff8;
    font-size: 1.5rem;
    padding: 15px;
}